#boardview {
    -fx-background-image: url("images/bg_game.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: #070707;
    -fx-background-position: center;
}

#topbox {
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid;
    -fx-border-color: white;
}

#title {
    -fx-font-family: "UNIVERSALISME";
    -fx-font-size: 50pt;
    -fx-text-fill: white;
    -fx-padding-left: 10;
}

/* correct positioning of stones */
#boardPane>*,
#oppBoardPane>* {
    -fx-alignment: top-left;
}

#oppBoardPane,
#nextField {
    -fx-border-style: solid;
    -fx-border-color: white;
}

#boardPane {
    -fx-border-style: solid;
    -fx-border-color: whitesmoke;
    -fx-background-color: rgba(07, 07, 07, 0.6);
}

.button {
    -fx-font: 12pt "Orbitron Medium";
    -fx-padding: 10;
    -fx-background-color: none;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.button:hover {
    -fx-text-fill: orange;
}

.label {
    -fx-text-fill: white;
    -fx-font: 11pt "Orbitron Bold";
}

.block {
    -fx-arc-height: 7px;
    -fx-arc-width: 7px;
}