#boardview {
    -fx-background-color: #1d4d99;
}

#topbox {
    -fx-border-width: 0 0 5 0;
    -fx-border-style: solid;
    -fx-border-color: white;
}

#title {
    -fx-font-family: "Bungee Outline";
    -fx-font-size: 32pt;
    -fx-text-fill: white;
}

/* correct positioning of stones */
#boardPane>*,
#boardPane>* {
    -fx-alignment: top-left;
}

#boardPane,
#oppboardPane,
#nextField {
    -fx-border-style: solid;
    -fx-border-color: white;
}

#oppboardPane {
    -fx-border-style: solid;
    -fx-border-color: lightblue;
    -fx-background-color: grey;
}

.button {
    -fx-font: 14pt "Bungee Hairline";
    -fx-padding: 10;
    -fx-background-color: none;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-font: 11pt "Bungee";
}

.block {
    -fx-arc-height: 7px;
    -fx-arc-width: 7px;
}