#lobbyview {
    -fx-background-image: url("images/bg_game.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: #070707;
    -fx-background-position: center;
}

#topbox {
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid;
    -fx-border-color: #f2f2f2;
}

.button {
    -fx-font: 12pt "Orbitron Medium";
    -fx-padding: 8;
    -fx-background-color: none;
    -fx-border-color: #f2f2f2;
    -fx-border-radius: 0;
    -fx-text-fill: #f2f2f2;
}

.button:hover {
    -fx-text-fill: orange;
}

.label {
    -fx-text-fill: #f2f2f2;
    -fx-font: 13pt "Orbitron Bold";
}

#title {
    -fx-font-family: "UNIVERSALISME";
    -fx-font-size: 52pt;
    -fx-text-fill: #f2f2f2;
}

#lblMessage {
    -fx-font: 16pt "Orbitron Bold";
    -fx-text-fill: orange;
    -fx-padding: 5;
}

#btnStartGame {
    -fx-font-size: 14pt;
}