#startview,
#gameoverview {
    -fx-background-image: url("images/bg_start.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: #070707;
    -fx-background-position: center;
    -fx-alignment: center;
}

.button {
    -fx-font: 16pt "Orbitron Medium";
    -fx-padding: 10;
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-cursor: hand;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.button:hover {
    -fx-text-fill: orange;
}

#titlesuper,
#titletetris,
#lblGameover {
    -fx-font-family: "UNIVERSALISME";
    -fx-font-size: 80pt;
    -fx-text-fill: white;
}