#startview,
#gameoverview {
    -fx-background-image: url("images/bg_start.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: #011749;
    -fx-background-position: center;
}
.button {
    -fx-font: 20pt "Bungee";
    -fx-padding: 10;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-cursor: hand;
}
.button:hover {
    -fx-text-fill: orange;
}
#titlesuper,
#titletetris,
#lblGameover {
    -fx-font-family: "Bungee Outline";
    -fx-font-size: 60pt;
    -fx-text-fill: white;
}